.sectionWrapper {
    border-radius: 28px;
    width: 90%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--color-light-text);
}

.name {
    font-size: 1.2rem;
}

/* MAIN CONTENT SECTION */
.contentWrapper {
    height: 100%;
}

.bubble {
    background-color: white;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 482px) {
    .sectionWrapper {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .header {
        flex-direction: column;
    }
  }