.appWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vh;
    max-width: 1500px;
    background-color: rgb(247, 247, 247);
    border-radius: 35px;
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
    .appWrapper {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

  }