@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Montserrat:wght@300;400;500;600;700;800&family=Source+Code+Pro&display=swap');

:root {

    background-color: #dfdfdf;
    --color-blue: #3B0AAE;
    --color-gas: #919191;
    --color-orange: #FF6700;
    --color-platinum: #f3f3f3;
    --color-platinum-dark: #ebebeb;
    --font-family:  'Montserrat', sans-serif;
    --color-orange-hover: #ff6600b9;
    --color-graph-grey: rgb(147, 31, 177);
    --color-graph-blue: #0942ff;
    --color-light-text: rgba(24, 24, 24, 0.849);
    --color-lighter-text: rgba(24, 24, 24, 0.63);

}