.bubble {
  height: 100%;
  border-radius: 28px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleWrapper h6 {
  font-weight: bold;
  color: var(--color-light-text);
}

.selectsWrapper {
  display: flex;
}

.bubbleContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.leftSide {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  width: 7rem;
  height: 7rem;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: var(--color-orange);
}

.rightSide {
  width: 55%;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-light-text);
  text-align: center;
}

.valueText {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  margin: 0.5rem;
}

.darkBubble {
  background-color: var(--color-blue);
  color: #fff;
}

.darkBubble .titleWrapper h6 {
  color: #fff;
}

.darkBubble .iconWrapper {
  /* background-color: var(--color-orange); */
  background-color: var(--color-blue);
  border: 5px solid var(--color-orange) !important;
  color: #fff;
  outline: 3px solid #fff;
  outline-offset: 3px;
  /* inline: 2px solid red; */
  width: 6rem;
  height: 6rem;
}

.darkBubble .rightSide {
  color: #fff;
}

.darkBubble .valueText {
  color: #fff;
}

.statusWrapper {
  width: 100%;
  /* background-color: red; */
  padding: 0.3rem 0.1rem;
  display: flex;
  justify-content: space-between;
}

.activeDevice {
  background-color: rgba(102, 184, 136, 0.5);
}

.notActiveDevice {
  background-color: rgb(202, 202, 202);
}

.errorDevice {
  background-color: rgba(133, 41, 41, 0.445);
}

.activeRoom {
  outline: 4px solid rgba(102, 184, 136, 0.753);
  outline-offset: -4px;
}

.notActiveRoom {
  outline: 4px solid rgb(177, 177, 177);
  outline-offset: -4px;
}

.errorRoom {
  background-color: rgba(167, 70, 70, 0.24);
  outline: 4px solid rgba(199, 36, 36, 0.842);
  outline-offset: -4px;
}

.choiceField {
  color: var(--color-light-text);
  border: none!important;
  background-color: var(--color-platinum-dark);
  width: 6.5rem;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.formCheck input[type="checkbox"]:checked {
  background-color: rgb(10, 10, 185);
  border: none;
}

.formCheck input[type="checkbox"] {
  background-color: #fff;
}

.formCheck input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.formCheck:focus {
  outline: none !important;
  box-shadow: none !important;
}

.choiceField:focus {
  outline: none!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
}

.choiceField:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
}

@media only screen and (max-width: 482px) {
  .contentWrapper {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .valueText {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
  }

  .hidden {
    display: none;
  }
}
