.bubble {
    height: 100%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titleWrapper h6 {
    font-weight: bold;
    color: var(--color-light-text);
}

.bubbleContent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.leftSide {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 9px solid var(--color-orange);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.rightSide {
    width: 55%;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-light-text);
    text-align: center;
}


.valueText {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
}


